main
    .main__heading
        .main__header
            h1 New Automation<br> Tool for Your Home
        .heading__illustration
            img(src="../img/illustration.png" alt="illustration")
        .heading__text
            p
                |Lorem ipsum dolor sit amet, consectetur 
                |adipiscing<br> elit. Faucibus tristique vulputate ultrices ut mauris<br> tellus at. Posuere sollicitudin odio tellus elit.
        .btn__header
            button(name="button") See Our Project


    .main__content