@font-face {
    font-family: "Galien Bold";
    src: url(../fonts/gallient/Galien-Bold.ttf);
    font-display: swap;
}

@font-face {
    font-family: "Gilroy Regular";
    src: url(../fonts/gilroy/Gilroy-Regular.ttf);
    font-display: swap;
}

@font-face {
    font-family: "Girloy SemiBold";
    src: url(../fonts/gilroy/Gilroy-Semibold.ttf);
    font-display: swap;
}

@font-face {
    font-family: "Girloy light";
    src: url(../fonts/gilroy/Gilroy-Light.ttf);
    font-display: swap;
}