@import "null";
@import "fonts";
@import "mediascreen";
@import "header";
@import "main";

$fontsMain: "Galien Bold";
$fontsText: "Gilroy Regular";
$headingText: "Girloy SemiBold";
$placeholdersFont: "Girloy light";
$maxWidthMainContainer: 940px;
$maxWidthSite: 1366px;
$minWidthSite: 320px;
$btnColor: #5A98D0;
$headerMaxWidth: 1200px;


